#bootstrap-override #donatebtn {
       background: var(--logo-clr);
       color: white;
}

#form-container {
       margin-bottom: 15vh;
}

.intro {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100vh;
       background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("images/donate-bg.jpeg");
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
}

.intro h1 {
       font-family: sans-serif;
       font-size: 60px;
       color: #fff;
       font-weight: bold;
       text-transform: uppercase;
       margin: 0;
}

.intro p {
       font-size: 20px;
       color: #d1d1d1;
       text-transform: uppercase;
       margin: 20px 0;
}

.intro button {
       background-color: #5edaf0;
       color: #000;
       padding: 10px 25px;
       border: none;
       border-radius: 5px;
       font-size: 20px;
       font-weight: bold;
       cursor: pointer;
       box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}



.about-me {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 40px 80px;
}

.about-me img {
       width: 500px;
       max-width: 100%;
       height: auto;
       border-radius: 10px;
}

.about-me-text h2 {
       font-size: 30px;
       color: #fdfdfd;
       text-transform: uppercase;
       margin: 0;
       padding-right: 1vw;
}

.about-me-text p {
       font-size: 15px;
       color: #fdfdfd;
       margin: 10px 0;
       padding-right: 1vw;
}

body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background: linear-gradient(to top, #c33764, #ffb88c);
}

.form-container {
       max-width: 600px;
       margin: 40px auto;
       padding: 50px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box input {
       width: 100%;
       padding: 8px;
       margin-bottom: 16px;
       box-sizing: border-box;
}

.form-container {
       position: relative;
       max-width: 850px;
       width: 100%;
       background: #fff;
       padding: 40px 30px;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       perspective: 2700px;
}

.form-container .cover {
       position: absolute;
       top: 0;
       left: 50%;
       height: 100%;
       width: 50%;
       z-index: 98;
       transition: all 1s ease;
       transform-origin: left;
       transform-style: preserve-3d;
}




.form-container .cover::before,
.form-container .cover::after {
       content: '';
       position: absolute;
       height: 100%;
       width: 100%;
       background: #7d2ae8;
       opacity: 0.5;
       z-index: 12;
}

.form-container .cover::after {
       opacity: 0.3;
       transform: rotateY(180deg);
       backface-visibility: hidden;
}

.form-container .cover img {
       position: absolute;
       height: 100%;
       width: 100%;
       object-fit: cover;
       z-index: 10;
}

.form-container .cover .text {
       position: absolute;
       z-index: 130;
       height: 100%;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
       font-size: 26px;
       font-weight: 600;
       color: #fff;
       text-align: center;
       text-shadow: 0px 0px 5px black;
}

.cover .text .text-2 {
       font-size: 15px;
       font-weight: 500;
}

.form-container .forms {
       height: 100%;
       width: 100%;
       background: #fff;
}

.form-container .form-content {
       display: flex;
       align-items: center;
       justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
       width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
       position: relative;
       font-size: 24px;
       font-weight: 500;
       color: #333;
}

.forms .form-content .title:before {
       content: '';
       position: absolute;
       left: 0;
       bottom: 0;
       height: 3px;
       width: 25px;
       background: #7d2ae8;
}

.forms .signup-form .title:before {
       width: 20px;
}

.forms .form-content .input-boxes {
       margin-top: 30px;
}

.forms .form-content .input-box {
       display: flex;
       align-items: center;
       height: 50px;
       width: 100%;
       margin: 10px 0;
       position: relative;
}

.form-content .input-box input {
       height: 100%;
       width: 100%;
       outline: none;
       border: none;
       padding: 0 30px;
       font-size: 16px;
       font-weight: 500;
       border-bottom: 2px solid rgba(0, 0, 0, 0.2);
       transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
       border-color: #7d2ae8;
}

.form-content .input-box i {
       position: absolute;
       color: #7d2ae8;
       font-size: 17px;
}

.forms .form-content .text {
       font-size: 14px;
       font-weight: 500;
       color: #333;
}

.forms .form-content .text a {
       text-decoration: none;
}

.forms .form-content .text a:hover {
       text-decoration: underline;
}

.forms .form-content .button {
       color: #fff;
       margin-top: 40px;
}

.forms .form-content .button input {
       color: #fff;
       background: #7d2ae8;
       border-radius: 6px;
       padding: 0;
       cursor: pointer;
       transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
       background: #5b13b9;
}

.forms .form-content label {
       color: #5b13b9;
       cursor: pointer;
}

.forms .form-content label:hover {
       text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
       text-align: center;
       margin-top: 25px;
}

.form-container #flip {
       display: none;
}




@media (max-width: 730px) {
       .form-container .cover {
              display: none;
       }

       .form-content .login-form,
       .form-content .signup-form {
              width: 100%;
       }

       .form-content .signup-form {
              display: none;
       }

       .form-container #flip:checked~.forms .signup-form {
              display: block;
       }

       .form-container #flip:checked~.forms .login-form {
              display: none;
       }

       .intro h1 {
              font-size: 2.5rem;
       }
}

@media screen and (max-width:1024px) {
       #bootstrap-override .about-me {
              flex-direction: column;
       }
}